@font-face {
    font-family: '_pepsi_regular';
    src: url("./font/PEPSI_pl.woff2") format("woff2"),
    url("./font/PEPSI_pl.woff") format("woff");
    font-weight: 200;
}

html {
    width: 100%;
    height: 100%
}

* {
    margin: 0;
    padding: 0
}

::-moz-selection {
    background: #f2f2f2
}

::selection {
    background: #f2f2f2
}

::-webkit-scrollbar {
    width: 0;
    background: 0 0
}

body {
    background-color: #fff
}

.rakraf-standard {
    font-family: "_pepsi_regular", serif;
    color: #000
}

.rakraf-plain {
    font-family: monospace;
    color: #000
}

.rcenter-v {
    text-align: center
}

.acenter-v-h {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.slide {
    background-color: rgba(255,255,255,0);
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0s;
    z-index: 2
}

.mid-logo {
    border: 1px solid #000;
    border-radius: 5px
}

.mid-logo h1 {
    display: inline-block;
    padding: 10px;
    cursor: default
}

.mid-logo h1:hover {
    color: #fff;
    background-color: #000
}

.bottom {
    display: inline-block;
    text-align: center;
    opacity: 0;
    z-index: -1
}

.bottom-logo {
    display: inline-block;
    vertical-align: middle;
    padding-right: 1em;
    cursor: default
}

.bottom-menue {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer
}

.bottom-nav {
    background-color: #fff;
    position: fixed;
    width: 100%;
    bottom: 75px;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    transition: .25s
}

.bottom-nav a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 15px;
    text-align: center
}

.bottom-nav a:hover {
    color: teal
}

.nvitems {
    opacity: 0
}

#navitem-a {
    border-bottom: 1px solid #000
}

#navitem-b {
    border-bottom: 1px solid #000
}

#wochentag {
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    border: 1px solid #000;
    color: #000;
    text-align: center;
}

.music-showcase {
    padding-top: 2em;
    margin: auto;
    width: 60%;
    left: 50%;
    top: 50%;
    z-index: -2
}

.page-content {
    opacity: 0;
    transition: .3s;
    width: 100%
}

.colorChange {
    color: #fff;
    background-color: #000
}

.zIndex {
    z-index: 2
}

.slideAnimation {
    animation-name: slide;
    animation-fill-mode: forwards;
    animation-duration: 2s
}

.despawnAnimation {
    animation-name: despawn;
    animation-fill-mode: forwards;
    animation-duration: 3s
}

.spawnAnimation {
    animation-name: spawn;
    animation-fill-mode: forwards;
    animation-duration: 3s
}

.slideOutAnimation {
    animation-name: slideout;
    animation-fill-mode: forwards;
    animation-duration: 2s
}

@keyframes slideout {
    100% {
        bottom: -300px;
        opacity: 0
    }
}

@keyframes slide {
    100% {
        height: 75px
    }
}

@keyframes despawn {
    0% {
        opacity: 100
    }

    20% {
        opacity: 0
    }

    100% {
        opacity: 0;
        display: none
    }
}

@keyframes spawn {
    100% {
        opacity: 1
    }
}

@media screen and (max-width: 900px) {
    .music-showcase {
        width:90%;
        padding-top: 1em
    }
}
